<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <a id="home-menu" href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
  <div id="sidr">
    <ul>
      <li><%= link_to "Home", root_path, :'data-turbolinks' => "false" %></li>
      <li><%= link_to "About", about_path, :'data-turbolinks' => "false" %></li>
      <li><%= link_to "Contact", new_signup_path, :'data-turbolinks' => "false" %></li>
    </ul>
  </div>

  <%= yield %>
  
  <footer>
  	<div class="contaier">
    	<p class="text-center">A MAU PROJECT</p>
  	</div>
	</footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
  <script>
    $(document).on('turbolinks:load', function(){
      $('#home-menu').sidr();
    });
  </script>
</body>
</html>
